body {
  margin: 0;
  padding: 0;
  font-family: "Noto sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

article{
  margin-bottom: 30px;
}

article a{
  color: #444;
}

article a:hover{
  color: #777;
}

article a:visited{
  color: #888;
}

blockquote{
  border-left: 5px solid silver;
  padding-left: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Noto sans JP", monospace;
  line-height: 160%;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

img{
  width: 100%;
}

pre{
  background: #333;
  border: 1px solid silver;
  overflow-x: auto;
  color: #ddd;
  padding: 10px;
}

table{
  border-collapse: collapse;
}

table th{
  background: #ddd;
}

table th, table td{
  border: 1px solid #999;
  padding: 5px;
}
